version: '3.8'
services: 

  landing:
    image: b4bz/homer:latest
    environment:
      #- UID={{ ansible_user_uid }}
      #- GID={{ ansible_user_gid }}
      #- INIT_ASSETS=0
    volumes:
      - {{ localtime_file }}:/etc/localtime
      #- {{ config_dir }}/:/www/assets:rw
     
    networks:
      - {{ traefik_network }}
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ repository }}.loadbalancer.server.port=8080
        - traefik.http.routers.{{ repository }}.rule=Host(`{{ host }}`)
        - traefik.http.routers.{{ repository }}.service={{ repository }}
        - traefik.http.routers.{{ repository }}.tls.certresolver=step-ca

networks:
  {{ traefik_network }}:
    external: true
    name: {{ traefik_network }}
